COMPOSE_PROJECT_NAME=joke-platform

IMAGE_PREFIX=joke-platform
IMAGE_TAG=local

GATEWAY_PORT=8085
GENERATOR_PORT=8081
PUNCHLINE_PORT=8082
AUDIENCE_PORT=8083
CHAOS_PORT=8084

REDIS_PORT=6379

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USERNAME=jokes
RABBITMQ_PASSWORD=jokes

BACKEND_CONNECT_TIMEOUT_MS=2000
BACKEND_READ_TIMEOUT_MS=10000

JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0 -XX:InitialRAMPercentage=25.0 -XX:+ExitOnOutOfMemoryError
